{% extends 'base.html' %}

{% block title %}Сайт: {{ url.name }}{% endblock %}

{% block content %}
<h1 class="h3 mb-4">Сайт: {{ url.name }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ url.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ url.name }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form action="{{ url_for('check_url', id=url.id) }}" method="post">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code|default('', true) }}</td>
            <td>{{ check.h1|default('', true) }}</td>
            <td>{{ check.title|default('', true) }}</td>
            <td>{{ check.description|default('', true) }}</td>
            <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="text-center text-muted py-3">Проверок пока нет</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
